.app {
  display: grid;
  line-height: 35px;
}

.create-thought-container,
.thought-list-container {
  background-color: #ededed;
  padding-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.create-thought-container {
  border-bottom: 2px solid grey;
}
