h2 {
    line-height: 10px;
}

.header {
    display: flex;
    // flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: #7ccedc;
    text-align: center;
}

.left-header {
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 55px;
}

.box-img {
    // height: 150px;
    width: 95px;
    margin: 10px 0 10px 0;
}