@import 'App.scss';
@import 'ThoughtList.scss';
@import 'ThoughtCard.scss';
@import 'CreateThought.scss';
@import 'Header.scss';
@import 'Search.scss';
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Arvo|Libre+Barcode+128+Text');

* {
    font-family: 'Arvo', serif;
    letter-spacing: 1.5px;
    font-size: 17px;
}

input {
    padding: 7px;
    border: 2px solid grey;
}