.thought-card {
    border: 2px solid grey;
    width: 515px;
    margin: 20px;
}

.card-title {
    background-color: #7955488c;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.card-body {
    background-color: #fcfefc;
    padding: 10px;
}